<div class="container">
    <div *ngIf="country">
      <h2>{{ country.name | uppercase }}</h2>
      <p>
        <span>Capital: </span>{{country.capital}}</p>
      <p>
        <span>Area: </span>{{country.area | number}} km
        <sup>2</sup>
      </p>
      <p>
        <span>Population: </span>{{country.population | number}}</p>
      <p>
        <span>GDP: </span>{{country.gdp | number}} USD</p>
      <p>
        <span>Currency: </span>{{country.currency}}</p>
      <button (click)="goBack()">Go Back</button>
    </div>
  </div>
