nav {
    margin: 0px;
    text-align: center;
  }
   
  h1 {
    font-family: 'Lato';
    color: #999;
    text-align: center;
  }
   
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
   
  nav a {
    padding: 10px;
    text-decoration: none;
    margin: 10px 0px;
    display: inline-block;
    background-color: rgb(247, 84, 9);
    color: white;
    border-radius: 5px;
    font-family: 'Lato';
  }
   
  nav a:hover {
    background-color: gray;
  }
   
  nav a.active {
    color: #039be5;
  }